USE [master]
GO
/****** Object:  Database [MusicLuoo]    Script Date: 2018/8/18 14:55:37 ******/
CREATE DATABASE [MusicLuoo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicLuoo', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MusicLuoo.mdf' , SIZE = 14336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MusicLuoo_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MusicLuoo_log.ldf' , SIZE = 22144KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicLuoo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicLuoo]
GO
/****** Object:  Table [dbo].[LuooSong]    Script Date: 2018/8/18 14:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LuooSong](
	[SongNo] [uniqueidentifier] NOT NULL,
	[VolNo] [int] NULL,
	[DownloadUrl] [varchar](200) NULL,
	[SongName] [nvarchar](200) NULL,
	[AlbumName] [nvarchar](200) NULL,
	[Author] [nvarchar](200) NULL,
	[AddDate] [datetime] NULL,
	[LocalPath] [varchar](200) NULL,
	[ImgUrl] [varchar](100) NULL,
	[SongIndex] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_LuooSong] PRIMARY KEY CLUSTERED 
(
	[SongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LuooTask]    Script Date: 2018/8/18 14:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LuooTask](
	[Id] [varchar](60) NOT NULL,
	[TotalTaskCount] [int] NULL,
	[CurrentTaskCount] [int] NULL,
	[AddTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_LuooTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LuooVol]    Script Date: 2018/8/18 14:55:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LuooVol](
	[VolNo] [int] NOT NULL,
	[VolKeyword] [nvarchar](200) NULL,
	[VolUrl] [varchar](200) NULL,
	[VolPicUrl] [varchar](200) NULL,
	[VolName] [nvarchar](200) NULL,
	[VolNumber] [varchar](100) NULL,
	[AddDate] [datetime] NULL,
	[VolPicLocalPath] [varchar](200) NULL,
 CONSTRAINT [PK_LuooVol] PRIMARY KEY CLUSTERED 
(
	[VolNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_LuooSong_VolNo]    Script Date: 2018/8/18 14:55:37 ******/
CREATE NONCLUSTERED INDEX [IX_LuooSong_VolNo] ON [dbo].[LuooSong]
(
	[SongNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
