<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DAL" value="Sql"/>
    <add key="MusicLocalPath" value="E:\Work\Winform\落网音乐下载\MusicLuooFiles\files\music\"/>
    <add key="PictureLocalPath" value="E:\Work\Winform\落网音乐下载\MusicLuooFiles\files\picture\"/>
    <add key="MusicFileUrl" value="http://localhost:9009/files/music/"/>
    <add key="PictureFileUrl" value="http://localhost:9009/files/picture/"/>
    <add key="MusicLuooUrl" value="http://localhost:9008/index-v2.aspx"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionWebRead" connectionString="Data Source=.;Initial Catalog=MusicLuoo;User ID=sa;Password=`1qaz2wsx;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
