<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DAL" value="Sql" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionWebRead" connectionString="Data Source=.;Initial Catalog=MusicLuoo;User ID=sa;Password=`1qaz2wsx;" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
